@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-100 font-Inter;
  }
  body {
    @apply pb-[60px] pt-[50px];
  }
}

@layer components {
}
